h1{
    text-align: center;
    color: white;
}

body{
    background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%);

}
#top-text{
padding: 50 40;
}

#header{
    position: sticky;
    top: 0;
}
.back{
    text-align: center;
    background-color: white;
    padding: 100 40;
    border-radius: 10px;
    margin: 3%;
}

table{
    width: 100%;
    background-color: white;
    text-align: center;
}
th,td{

border: 1px solid #ddd;
    padding: 20px;
    height: 50px;
    border-radius: 10px;
} 

tr:hover{

    background-color: #bdcec6;
    animation: mymove 5s infinite;
    
}
@keyframes mymove {
    from {background-color: #b0f0d8;}
    to {background-color: #62c09d;}
}

th {
    background-color: #10a26d;
    color: white;
    padding: 15px;
    position: sticky;
    top: 0;
    
    
  }
  .table_con{
    height: 300px;
    overflow: scroll;
  }

  .search{
    padding: 0 0 25 0;

  }
  input[type=text]{
    padding: 8;
    font-size: 12px;
    border: 1px solid gray;
    float: center;
    width: 25%;
    background: #e3e3e3;
    border-radius: 15px;

  }

.buttons{
    padding: 20 0 0 0;
}

button{
    padding: 10px 24px;
    border:1px solid #5dd58b;
    float: center;
    width: 12%;
    background: #5dd58b;
    border-radius: 15px;
   color: white;
   transition-duration: 0.4s;
}
button:hover{

    background-color: white;
    color: #5dd58b;
}
